isort==5.9.3
matplotlib==3.4.3
ndlib==5.1.1
networkx==2.6.2
PyQt5==5.15.4
PyQt5-stubs==5.15.2.0
typing-extensions==3.10.0.2
PyInstaller==4.5.1
numpy==1.21.2
dataclasses-json==0.5.5
cdlib==0.2.6
fire==0.4.0
sphinx==4.1.2
sphinx_rtd_theme==0.4.3
myst-parser==0.15.2
leidenalg
